.contagion {
  margin-bottom: 14rem;
  &-title {
    text-align: center;
  }
  &-heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  &-content {
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    cursor: pointer;
  }
  &-image img {
    padding-top: 5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &-image2 img {
    transform: translate(-50%, -3rem);
  }
  &-info {
    padding: 5rem 5.2rem 7.8rem 5.3rem;
    text-align: center;
  }
  &-info2 {
    margin-top: -4rem;
  }
  &-name {
    font-size: 3.6rem;
    color: var(--green);
    margin-bottom: 2rem;
  }
  &-desc {
    font-size: 2rem;
    color: var(--gray);
  }
}
.contagion-content:hover {
  border: 1px solid var(--orange);
  transition: all 0.5s linear;
  transform: translateY(-2px);
  box-shadow: rgba(241, 112, 6, 0.1) 0px 4px 12px;
}
@media screen and (max-width: 768px) {
  .contagion {
    &-heading {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 70%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
    }
    &-heading::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-heading > * {
      scroll-snap-align: start;
    }
  }
  .title-content p {
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .contagion {
    &-title-center {
      & p {
        width: 40rem;
      }
    }
    &-heading {
      grid-auto-columns: 90%;
    }
    &-name {
      font-size: 2.6rem;
    }
    &-desc {
      font-size: 1.8rem;
    }
  }
}
@media screen and (min-width: 375px) {
  .contagion {
    &-title-center {
      & p {
        width: 100%;
      }
    }
  }
}
