.contagion {
  &-title {
    text-align: center;
    & h3 {
      color: var(--orange);
    }
    & h2 {
      color: var(--green);
      margin: 2rem 0;
    }
    & p {
      color: var(--gray);
      width: 57rem;
      display: block;
      margin: 0 auto;
    }
  }
}
