.header {
  padding-top: 6rem;
  margin-bottom: 5rem;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-items {
    padding: 0 4rem;
    display: inline-block;
  }
  &-link {
    color: var(--green);
    &:hover {
      color: var(--orange);
      transition: all 0.2s linear;
    }
  }
}
