.header {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-items {
    padding: 0 4rem;
    display: inline-block;
  }
  &-link {
    color: var(--green);
  }
}
