.hero {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: var(--grange);
  }
  &-heading {
    font-size: 5.2rem;
    margin-bottom: 3rem;
    color: var(--green);
  }
  &-desc {
    line-height: 3rem;
  }
}
