.hero {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) -29.64%,
      #fff8f8 45.66%,
      #b57474 45.66%
    )
    &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: var(--grange);
  }
  &-content {
    max-width: 64.6rem;
  }
  &-heading {
    font-size: 5.2rem;
    margin-bottom: 3rem;
    color: var(--green);
  }
  &-desc {
    margin-bottom: 3rem;
    line-height: 3rem;
  }
}
