.footer {
  margin-bottom: 3rem;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-list,
  &-logo {
    display: flex;
    list-style: none;
    gap: 0 2rem;
  }
  &-icon {
    font-size: 3rem;
    cursor: pointer;
    &:hover {
      color: var(--red);
      transition: all 0.2s linear;
      transform: translateY(-0.2rem);
    }
  }
  &-typhography {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--green);
    margin-top: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    &-main {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 415px) {
  .footer {
    &-main {
      gap: 3rem 0;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 376px) {
  .footer {
    &-list {
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
